// Typography
$font-family-main: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-family-headings: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-size: 1.25em;

// Padding
$padding-large: 20%;
$padding-small: 5%;
$padding-x-small: 3%;

// Brand colours
$brand-color: #95B3BD;
$background-color: #171A2B;
$border-color: rgba(0, 0, 0, 0.1); // rgba recommended if using feature images

// Typography colours
$text-color: #95B3BD;
$link-color: #FFFFFF;
$selection-color: #95B3BD; // visible when highlighting text

// Header colours
$header-link-color: #FFFFFF;

// Feature image for articles
$feature-image-text-color: #171A2B;
$feature-image-size: cover; // options include "cover", "contain", "auto"

// Header description box
$header-desc-background-color: #171A2B;
$header-desc-text-color: #95B3BD;
